<div metal:use-macro="load: ../shared/_layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">
        <h4>Sesión de Terapia con ${therapist_name}</h4>
        <h4>🕓 1hr</h4>
        <h4>📅 ${hour_range}, ${readable_date}</h4>
        <h4>🌎 ${time_zone}</h4>
        <form action="/agenda_sesion/confirmacion" method="post">
            <input type="hidden" name="therapist_id" value="${therapist_id}">
            <input type="hidden" name="date_str" value="${date_str}">
            <input type="hidden" name="time_zone" value="${time_zone}">
            <hr>
            <h3>¿Cuál será la frecuencia de tus sesiones?</h3>

            <p>
                <label>
                    <input type="radio" id="zero" name="session_frequency" value="0">
                    <span>Única Sesión</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" id="one" name="session_frequency" value="1">
                    <span>Semanal</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" id="two" name="session_frequency" value="2">
                    <span>Quincenal</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" id="three" name="session_frequency" value="3">
                    <span>Cada Tres Semanas</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" id="four" name="session_frequency" value="4">
                    <span>Mensual</span>
                </label>
            </p>
            <button class="btn waves-effect waves-light blue darken-1" type="submit">Agendar</button>
            <!-- <input type="submit" value="Agendar"> -->
        </form>
    </div>
</div>