<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psique Fácil</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper  blue darken-2">
            <a href="#" class="brand-logo">PsiqueFácil</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/mi_agenda">Mi Agenda</a></li>
                <li><a href="/mis_pacientes">Mis Pacientes</a></li>
                <li><a href="/mi_horario">Mi Horario</a></li>
                <li><a href="/cerrar_sesion">Cerrar Sesión</a></li>
            </ul>
        </div>
    </nav>
    <div id="main_content" class="container">
        <div metal:define-slot="content" tal:omit-tag="True">No content</div>
    </div>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>